<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sys-area-heading" data-cy="SysAreaCreateUpdateHeading" jhiTranslate="provisionApp.sysArea.home.createOrEditLabel">
        Create or edit a Sys Area
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.areaCode" for="field_areaCode">Area Code</label>
          <input type="text" class="form-control" name="areaCode" id="field_areaCode" data-cy="areaCode" formControlName="areaCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.areaName" for="field_areaName">Area Name</label>
          <input type="text" class="form-control" name="areaName" id="field_areaName" data-cy="areaName" formControlName="areaName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.provinceCode" for="field_provinceCode">Province Code</label>
          <input
            type="text"
            class="form-control"
            name="provinceCode"
            id="field_provinceCode"
            data-cy="provinceCode"
            formControlName="provinceCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.districtCode" for="field_districtCode">District Code</label>
          <input
            type="text"
            class="form-control"
            name="districtCode"
            id="field_districtCode"
            data-cy="districtCode"
            formControlName="districtCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.wardCode" for="field_wardCode">Ward Code</label>
          <input type="text" class="form-control" name="wardCode" id="field_wardCode" data-cy="wardCode" formControlName="wardCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.status" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.locationLat" for="field_locationLat">Location Lat</label>
          <input
            type="number"
            class="form-control"
            name="locationLat"
            id="field_locationLat"
            data-cy="locationLat"
            formControlName="locationLat"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.locationLan" for="field_locationLan">Location Lan</label>
          <input
            type="number"
            class="form-control"
            name="locationLan"
            id="field_locationLan"
            data-cy="locationLan"
            formControlName="locationLan"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysArea.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
