<div>
  <h2 id="page-heading" data-cy="DistrictsHeading">
    <span jhiTranslate="provisionApp.districts.home.title">Districts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="provisionApp.districts.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-districts"
        [routerLink]="['/districts/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="provisionApp.districts.home.createLabel"> Create a new Districts </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="districts?.length === 0">
    <span jhiTranslate="provisionApp.districts.home.notFound">No districts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="districts && districts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="code"><span jhiTranslate="provisionApp.districts.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="provisionApp.districts.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nameEn">
            <span jhiTranslate="provisionApp.districts.nameEn">Name En</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fullName">
            <span jhiTranslate="provisionApp.districts.fullName">Full Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fullNameEn">
            <span jhiTranslate="provisionApp.districts.fullNameEn">Full Name En</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="codeName">
            <span jhiTranslate="provisionApp.districts.codeName">Code Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinceCode">
            <span jhiTranslate="provisionApp.districts.provinceCode">Province Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="administrativeUnitId">
            <span jhiTranslate="provisionApp.districts.administrativeUnitId">Administrative Unit Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinces.code">
            <span jhiTranslate="provisionApp.districts.provinces">Provinces</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="administrativeUnits.id">
            <span jhiTranslate="provisionApp.districts.administrativeUnits">Administrative Units</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let districts of districts; trackBy: trackCode" data-cy="entityTable">
          <td>
            <a [routerLink]="['/districts', districts.code, 'view']">{{ districts.code }}</a>
          </td>
          <td>{{ districts.name }}</td>
          <td>{{ districts.nameEn }}</td>
          <td>{{ districts.fullName }}</td>
          <td>{{ districts.fullNameEn }}</td>
          <td>{{ districts.codeName }}</td>
          <td>{{ districts.provinceCode }}</td>
          <td>{{ districts.administrativeUnitId }}</td>
          <td>
            <div *ngIf="districts.provinces">
              <a [routerLink]="['/provinces', districts.provinces?.code, 'view']">{{ districts.provinces?.code }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="districts.administrativeUnits">
              <a [routerLink]="['/administrative-units', districts.administrativeUnits?.id, 'view']">{{
                districts.administrativeUnits?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/districts', districts.code, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/districts', districts.code, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(districts)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="districts && districts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
