<div>
  <h2 id="page-heading" data-cy="SysOrganizationHeading">
    <span jhiTranslate="provisionApp.sysOrganization.home.title">Sys Organizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="provisionApp.sysOrganization.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sys-organization"
        [routerLink]="['/sys-organization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="provisionApp.sysOrganization.home.createLabel"> Create a new Sys Organization </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sysOrganizations?.length === 0">
    <span jhiTranslate="provisionApp.sysOrganization.home.notFound">No sysOrganizations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sysOrganizations && sysOrganizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="parentId">
            <span jhiTranslate="provisionApp.sysOrganization.parentId">Parent Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sysOrgCode">
            <span jhiTranslate="provisionApp.sysOrganization.sysOrgCode">Sys Org Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sysOrgName">
            <span jhiTranslate="provisionApp.sysOrganization.sysOrgName">Sys Org Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sysOrgPath">
            <span jhiTranslate="provisionApp.sysOrganization.sysOrgPath">Sys Org Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sysOrgFullPath">
            <span jhiTranslate="provisionApp.sysOrganization.sysOrgFullPath">Sys Org Full Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="provisionApp.sysOrganization.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="provisionApp.sysOrganization.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="provisionApp.sysOrganization.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <span jhiTranslate="provisionApp.sysOrganization.tenantId">Tenant Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sysOrgType">
            <span jhiTranslate="provisionApp.sysOrganization.sysOrgType">Sys Org Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="provisionApp.sysOrganization.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="provisionApp.sysOrganization.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="provisionApp.sysOrganization.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="provisionApp.sysOrganization.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="provisionApp.sysOrganization.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="provisionApp.sysOrganization.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sysOrganization of sysOrganizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sys-organization', sysOrganization.id, 'view']">{{ sysOrganization.id }}</a>
          </td>
          <td>{{ sysOrganization.parentId }}</td>
          <td>{{ sysOrganization.sysOrgCode }}</td>
          <td>{{ sysOrganization.sysOrgName }}</td>
          <td>{{ sysOrganization.sysOrgPath }}</td>
          <td>{{ sysOrganization.sysOrgFullPath }}</td>
          <td>{{ sysOrganization.description }}</td>
          <td>{{ sysOrganization.address }}</td>
          <td>{{ sysOrganization.type }}</td>
          <td>{{ sysOrganization.tenantId }}</td>
          <td>{{ sysOrganization.sysOrgType }}</td>
          <td>{{ sysOrganization.isActive }}</td>
          <td>{{ sysOrganization.status }}</td>
          <td>{{ sysOrganization.createdBy }}</td>
          <td>{{ sysOrganization.createdDate | formatMediumDatetime }}</td>
          <td>{{ sysOrganization.lastModifiedBy }}</td>
          <td>{{ sysOrganization.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sys-organization', sysOrganization.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sys-organization', sysOrganization.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sysOrganization)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sysOrganizations && sysOrganizations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
