<div>
  <h2 id="page-heading" data-cy="SysAreaHeading">
    <span jhiTranslate="provisionApp.sysArea.home.title">Sys Areas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="provisionApp.sysArea.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sys-area"
        [routerLink]="['/sys-area/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="provisionApp.sysArea.home.createLabel"> Create a new Sys Area </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sysAreas?.length === 0">
    <span jhiTranslate="provisionApp.sysArea.home.notFound">No sysAreas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sysAreas && sysAreas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="areaCode">
            <span jhiTranslate="provisionApp.sysArea.areaCode">Area Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="areaName">
            <span jhiTranslate="provisionApp.sysArea.areaName">Area Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="provinceCode">
            <span jhiTranslate="provisionApp.sysArea.provinceCode">Province Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="districtCode">
            <span jhiTranslate="provisionApp.sysArea.districtCode">District Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="wardCode">
            <span jhiTranslate="provisionApp.sysArea.wardCode">Ward Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="provisionApp.sysArea.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isActive">
            <span jhiTranslate="provisionApp.sysArea.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="provisionApp.sysArea.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locationLat">
            <span jhiTranslate="provisionApp.sysArea.locationLat">Location Lat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="locationLan">
            <span jhiTranslate="provisionApp.sysArea.locationLan">Location Lan</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="provisionApp.sysArea.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="provisionApp.sysArea.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="provisionApp.sysArea.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="provisionApp.sysArea.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sysArea of sysAreas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sys-area', sysArea.id, 'view']">{{ sysArea.id }}</a>
          </td>
          <td>{{ sysArea.areaCode }}</td>
          <td>{{ sysArea.areaName }}</td>
          <td>{{ sysArea.provinceCode }}</td>
          <td>{{ sysArea.districtCode }}</td>
          <td>{{ sysArea.wardCode }}</td>
          <td>{{ sysArea.description }}</td>
          <td>{{ sysArea.isActive }}</td>
          <td>{{ sysArea.status }}</td>
          <td>{{ sysArea.locationLat }}</td>
          <td>{{ sysArea.locationLan }}</td>
          <td>{{ sysArea.createdBy }}</td>
          <td>{{ sysArea.createdDate | formatMediumDatetime }}</td>
          <td>{{ sysArea.lastModifiedBy }}</td>
          <td>{{ sysArea.lastModifiedDate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sys-area', sysArea.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sys-area', sysArea.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sysArea)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sysAreas && sysAreas.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
