<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-sys-organization-heading"
        data-cy="SysOrganizationCreateUpdateHeading"
        jhiTranslate="provisionApp.sysOrganization.home.createOrEditLabel"
      >
        Create or edit a Sys Organization
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.parentId" for="field_parentId">Parent Id</label>
          <input type="number" class="form-control" name="parentId" id="field_parentId" data-cy="parentId" formControlName="parentId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.sysOrgCode" for="field_sysOrgCode">Sys Org Code</label>
          <input
            type="text"
            class="form-control"
            name="sysOrgCode"
            id="field_sysOrgCode"
            data-cy="sysOrgCode"
            formControlName="sysOrgCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.sysOrgName" for="field_sysOrgName">Sys Org Name</label>
          <input
            type="text"
            class="form-control"
            name="sysOrgName"
            id="field_sysOrgName"
            data-cy="sysOrgName"
            formControlName="sysOrgName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.sysOrgPath" for="field_sysOrgPath">Sys Org Path</label>
          <input
            type="text"
            class="form-control"
            name="sysOrgPath"
            id="field_sysOrgPath"
            data-cy="sysOrgPath"
            formControlName="sysOrgPath"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.sysOrgFullPath" for="field_sysOrgFullPath"
            >Sys Org Full Path</label
          >
          <input
            type="text"
            class="form-control"
            name="sysOrgFullPath"
            id="field_sysOrgFullPath"
            data-cy="sysOrgFullPath"
            formControlName="sysOrgFullPath"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.type" for="field_type">Type</label>
          <input type="number" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.tenantId" for="field_tenantId">Tenant Id</label>
          <input type="number" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.sysOrgType" for="field_sysOrgType">Sys Org Type</label>
          <input
            type="number"
            class="form-control"
            name="sysOrgType"
            id="field_sysOrgType"
            data-cy="sysOrgType"
            formControlName="sysOrgType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.isActive" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.status" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="provisionApp.sysOrganization.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
